/* General Layout Styles */
.container {
  max-width: auto;
  margin: 0 auto;
  padding: var(--space-md);
  width: 100%;
  box-sizing: border-box;
  flex: 1;
  }

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh - 56px; /* Ajuste para BottomNav */
}

.page, .container {
  overflow: visible;
}

.page-primary {
  min-height: calc(100vh - 56px); /* Ajuste para BottomNav */
}

.page-secondary {
  min-height: 100%;
}

.page-section {
  padding: 1rem 0;
}