/* General Layout Styles */
.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  padding-top: 1rem; /* Añadido */
}
.page-primary {
  min-height: calc(100vh - 56px); /* Ajuste para BottomNav */
}

.page-secondary {
  min-height: 100%;
}

.page-section {
  padding: 1rem 0;
}