/* Generic Button Styles */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn-primary:hover {
  background-color: #02080e;
}

.btn-secondary {
  background-color: #553C9A;
  color: white;
}

.btn-secondary:hover {
  background-color: #3b237b;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-success:hover {
  background-color: #18692a;
}

.btn-danger {
  background-color: #E53E3E;
  color: white;
}

.btn-danger:hover {
  background-color: #b73131;
}

.btn-disabled,
.btn:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.btn + .btn {
  margin-left: 0.5rem;
}


/* Mobile responsive full-width buttons */
@media (max-width: 600px) {
  .btn,
  .btn-primary,
  .btn-secondary,
  .btn-success,
  .btn-danger {
    width: 100%;
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .btn + .btn {
    margin-left: 0rem;
  }
} 
