.empty-state-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100dvh - 64px);
  background-color: #f4f6f8; /* si quieres un fondo neutro como Loader */
  text-align: center;
  padding: 5rem;
  box-sizing: border-box;
  gap: 1.5rem;
}



.empty-state-logo img {
  width: 180px;
  margin-bottom: 2rem;
}

.empty-state-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
}

.empty-state-description {
  font-size: 1rem;
  color: #666;
  margin: 0 0 1.5rem 0;
  line-height: 1.4;
  max-width: 320px;
}
