.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Recuperamos sticky footer */
    align-items: left;
    padding: var(--space-lg);
    background-color: var(--color-background);
}

.auth-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
}

.auth-content > h1 {
    margin-bottom: 24px;
}

.auth-content > h2 {
    margin-bottom: 24px;
}

.auth-logo-container {
    display: flex;
    justify-content: center;
}

.auth-logo-container img {
    width: 150px;
    height: auto;
}

.auth-body {
    width: 100%;
    max-width: 343px;
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.auth-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.auth-divider {
    margin: 0;
}

.auth-actions {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    margin-top: 0px;
}

.auth-footer {
    width: 100%;
    max-width: 343px;
    margin-top: var(--space-md);
    margin-bottom: var(--space-md);
}
