/* Contenedor principal */
.calendar-container {
  width: 100%;
  padding: 1rem;
  overflow-x: hidden;
}

/* Cabecera del calendario (selector de mes) */
.month-selector {
  align-items: center;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

}

.month-label {
  color: var(--gray-900, #171923);
  font-family: "Host Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  /* 150% */
}

.arrow-button {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.arrow-button:hover {
  transform: scale(1.05);
}

.calendar-grid-container {
  display: flex;
  padding: 8px 0;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.calendar-header-container {
  display: flex;
  gap: 4px;
  width: 100%;
}

.calendar-header-day {
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}

.calendar-header-day-text {
  color: var(--black, #000);
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.calendar-month-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.calendar-day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 25.571px 32.5px 4px;
  flex: 1 0 0;
  border-radius: 4px;
  background: #F3F4F6;
  opacity: 0.65;
  position: relative;

}

.calendar-day-number {
  color: var(--black, #000);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  width: 16px;
}
.calendar-shift-icon {
  position: absolute;
  bottom: 4px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
}

.calendar-availability-dot {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 8px;
  height: 8px;
  background-color: #00c853; /* verde Tanda, puedes ajustar */
  border-radius: 50%;
}


.selected-day {
  border: 1px solid var(--black, #000);
  border-radius: 4px;
}



.shift-morning {
  background-color: var(--shift-morning, #FFE681);
}

.shift-evening {
  background-color: var(--shift-evening, #FFBCE2);
}

.shift-night {
  background-color: var(--shift-night, #B9C7FF);
}

.shift-reinforcement {
  background-color: var(--shift-reinforcement, #FFB4B4);  
}

.past {
  opacity: 0.5;
}

/* Scroll de detalle (por si tienes lista de eventos dentro de día) */
.day-details {
  scroll-margin-bottom: 100px;
}