/* Contenedor principal */
.calendar-container {
  width: 100%;
  padding: 1rem;
  overflow-x: hidden;
}

/* Cabecera del calendario (selector de mes) */
.month-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.month-label {
  color: var(--gray-900, #171923);
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  /* 150% */
}

.arrow-button {
  background: none;
  color: var(--gray-900, #171923);
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.arrow-button:hover {
  transform: scale(1.05);
}

.calendar-grid-container {
  display: flex;
  padding: 8px 0;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.calendar-header-container {
  display: flex;
  gap: 4px;
  width: 100%;
}

.calendar-header-day {
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}

.calendar-header-day-text {
  color: var(--black, #000);
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.calendar-month-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.calendar-day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 25.571px 32.5px 4px;
  flex: 1 0 0;
  border-radius: 4px;
  background: #F3F4F6;
  opacity: 0.8;
  position: relative;

}

.calendar-day-number {
  color: var(--black, #000);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  width: 16px;
}
.calendar-shift-icon {
  position: absolute;
  bottom: 4px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
}

.calendar-availability-dot {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 8px;
  height: 8px;
  background-color: #12dc92; /* verde Tanda, puedes ajustar */
  border-radius: 50%;
}


.selected-day {
  border: 1px solid var(--black, #000);
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}



.shift-morning {
  background-color: var(--shift-morning, #FFD000);
}

.shift-evening {
  background-color: var(--shift-evening, #FF336B);
}

.shift-night {
  background-color: var(--shift-night, #016EFF);
}

.shift-reinforcement {
  background-color: var(--shift-reinforcement, #FF6000);  
}

.past {
  opacity: 0.5;
}

/* Scroll de detalle (por si tienes lista de eventos dentro de día) */
.day-details {
  scroll-margin-bottom: 100px;
}

.month-selector-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.month-selector-actions {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 600px) {
  .month-selector-group {
    flex-direction: row;
    align-items: center;
  }
}
