.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Recuperamos sticky footer */
    align-items: center;
    min-height: 100vh;
    padding: var(--space-lg);
    background-color: var(--color-background);
}
.home-content {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    gap: 50px; /* << Aquí definimos la separación Logo ↔ Formulario */
    width: 100%;
}

.home-logo-container {
    display: flex;
    justify-content: center;
}

.home-logo-container img {
    width: 150px;
    height: auto;
}

.home-body {
    width: 100%;
    max-width: 343px;
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.home-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}