body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
  align-items: center;
}


.publish-button {
  position: relative; /* Antes era absolute, ahora relative para que no pisen */
  font-size: 0.75rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px 6px; /* Un pelín más de padding */
  cursor: pointer;
  width: 100%; /* Cada botón ocupa todo el ancho disponible */
  text-align: center;
  margin-top: 2px; /* Separación entre botones */
}

.publish-button:hover {
  background-color: #f0f0f0;
}

.day-number {
  position: absolute;
  top: 4px;
  left: 6px;
  background-color: #f0f0f0; /* gris claro */
  color: #333; /* gris oscuro para el texto */
  font-size: 0.7rem;
  padding: 2px 6px;
  border-radius: 12px; /* redondito */
  font-weight: 500;
}

.selected-day {
  outline: 2px solid #3b82f6;
  outline-offset: 2px;
  border-radius: 8px;
}


.calendar-day{
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  position: relative;
}
.calendar-text{
  font-size: 0.75rem;
  font-weight: 500;
  color: #000;
}

.shift-morning {
  background-color: #d1fae5;
}
.shift-evening{
  background-color: #fde68a;
}
.shift-night{
  background-color: #e0e7ff;
}
.past{
  opacity: 0.5;
}


.calendar-container {
  padding: 1rem;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
}

.calendar-header {
  text-align: center;
  font-weight: bold;
  font-size: 0.85rem;
}

.calendar-day.empty {
  background: transparent;
  cursor: default;
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.badge {
  padding: 6px 12px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
